
body,
button,
input,
select,
textarea,
.btn,
.main-navigation .sub-menu li a,
.jumbotron .jumbotron-caption .caption-small-heading,
.page-header--subtitle,
.featured-page
  .featured-page--image
  .featured-page--overlay
  .overlay--center
  span,
.news-posts-block .widget-title a,
.panel-group .panel .panel-heading .panel-title a {
  font-family: "Open Sans";
}
h1,
h2,
h3,
h4,
h5,
h6,
.main-navigation > li > a,
.caption-heading-tag,
.testimonials .testimonial--author,
.call-to-action .call-to-action--content .call-to-action--title,
.counter .counter--text .counter--number {
  font-family: "Nunito";
}
.header-wrapper .header-logo img {
  width: 238px;
  margin-top: 0px;
}
.header .header-topbar {
  background: #707780;
}
.header .header-topbar,
.header .header-topbar .header-topbar-sidebar .icon-box--title {
  color: #c1c7ce;
}
.header .header-topbar a,
.header
  .header-topbar
  .header-topbar-sidebar
  a.icon-box
  .icon-box--title {
  color: #c1c7ce;
}
.header .header-topbar a:hover,
.header-topbar-sidebar .menu > li:hover > a,
.header
  .header-topbar
  .header-topbar-sidebar
  a.icon-box:hover
  .icon-box--title {
  color: #fff;
}
.header-topbar-sidebar .menu .sub-menu > li > a {
  color: #fff;
  background: #56afd5;
}
.header-topbar-sidebar .menu .sub-menu:after {
  border-bottom-color: #56afd5;
}
.header-wrapper {
  background-color: #ffffff;
}
.header-widgets {
  color: #838383;
  background: #ffffff;
}
.header-widgets .icon-box--title {
  color: #838383;
}
.header-widgets .icon-box--icon i,
.header-widgets .icon-box--description,
.header-widgets .social-icons a {
  color: #bfbfbf;
}
.header-widgets .icon-box:hover .icon-box--icon i,
.header-widgets .social-icons a:hover {
  color: #a1a1a1;
}
@media (min-width: 992px) {
  .header-wrapper {
    background-color: #fff;
  }
  .header-widgets {
    background: rgba(255, 255, 255, 0.8);
  }
}
@media (min-width: 1200px) {
  .header-widgets .widget {
    margin-right: 90px;
  }
}
.header .header-wrapper .featured-button a {
  color: #ffffff;
  background: #a175aa;
}
.header .header-wrapper .featured-button a:hover {
  background: #9c70a5;
}
@media (max-width: 991px) {
  .navbar-toggle,
  .navbar-toggle:hover {
    background-color: #56afd5;
  }
  .navbar-toggle .icon-bar {
    background-color: #fff;
  }
  .main-navigation .nav-toggle-mobile-submenu {
    color: #fff;
    background-color: transparent;
  }
  .main-navigation > li.nav-toggle-dropdown .nav-toggle-mobile-submenu {
    background-color: #935c9e;
  }
  .main-navigation > li > a {
    color: #ffffff;
    background: #9a65a5;
  }
  .main-navigation > li.current-menu-item > a,
  .main-navigation > li.current_page_parent a {
    color: #ffffff;
  }
  .main-navigation .sub-menu > li > a {
    color: #ffffff;
    background: #935c9e;
  }
  .main-navigation .sub-menu > li.current-menu-item > a {
    color: #ffffff;
  }
}
@media (min-width: 992px) {
  .main-navigation > li > a {
    color: #828282;
  }
  .main-navigation > li.current-menu-item > a,
  .main-navigation > li.current_page_parent > a,
  .main-navigation > li.current-menu-ancestor > a,
  .main-navigation > li.menu-item-has-children::after {
    color: #56afd5;
  }
  .main-navigation > li:hover > a,
  .main-navigation > li.current-menu-item:hover > a,
  .main-navigation > li.current_page_parent:hover > a,
  .main-navigation > li.current-menu-ancestor:hover > a,
  .main-navigation > li.menu-item-has-children:hover::after {
    color: #56afd5;
  }
  .main-navigation .sub-menu > li > a {
    color: #ffffff;
    background-color: #9a65a5;
  }
  .main-navigation .sub-menu > li:hover > a {
    color: #ffffff;
    border-top-color: #905b9b;
    background-color: #905b9b;
  }
}
.page-header {
  text-align: left;
  background-color: #f5f8fb;
}
.page-header--title {
  color: #464646;
}
.page-header--subtitle {
  color: #999999;
}
.breadcrumbs {
  background: #ffffff;
}
.breadcrumbs a,
.breadcrumbs a:hover {
  color: #cccccc;
}
.breadcrumbs span > span,
.breadcrumbs .last {
  color: #9a65a5;
}
.widget-title {
  color: #464646;
}
.content-area span.normal {
  font-weight: normal;
}
body .layout-boxed {
  background: #fff;
}
body,
.has-theme-text-color-color {
  color: #999;
}
.has-theme-text-color-background-color {
  background-color: #999;
}
a,
.jumbotron .jumbotron-caption .caption-small-heading,
.featured-page .featured-page--content .featued-page--title:hover a,
.news-posts-block .news-post--title a:hover,
.content-area .icon-box--icon i,
.team-member--name a:hover,
.testimonials .testimonial--description,
.content-area .opening-hours ul li.today,
.has-theme-blue-color {
  color: #56afd5;
}
a:hover {
  color: #51aad0;
}
.search-submit,
.content-area .icon-box:hover .icon-box--icon,
.content-area .opening-hours ul li span.label,
.team-member--social .overlay--center a:hover,
.counter:hover .counter--icon,
.has-theme-blue-background-color,
.wp-block-search .wp-block-search__button,
body .booked-form input[type="checkbox"]:checked {
  background-color: #56afd5;
}
.search-submit:hover,
.wp-block-search .wp-block-search__button {
  background-color: #51aad0;
}
.team-member--tag,
.brochure:hover i,
.has-theme-purple-color {
  color: #9a65a5;
}
table thead th,
.news-posts-block .news-post--date,
.testimonials .testimonial-control,
.qt-table thead td,
.custom-table thead td,
.content-area .widget_nav_menu,
.hentry--post-thumbnail .meta-data--date,
.content-area .featured-box,
.panel-group .panel .panel-heading .panel-title a[aria-expanded="true"],
.featured-page
  .featured-page--image
  .featured-page--overlay
  .overlay--center
  span:hover,
.has-theme-purple-background-color {
  background-color: #9a65a5;
}
.news-posts-block .news-post--date:hover,
.testimonials .testimonial-control:hover {
  background-color: #9560a0;
}
.client-logos img:hover,
.brand-border:hover {
  border-color: #9a65a5;
}
.btn.btn-primary,
.pagination span.current,
.pagination a:hover,
body.page .pagination > span:not(.page-links-title),
.comments-area .comment-respond .comment-form .form-submit .submit,
.wp-block-button:not(.is-style-outline)
  .wp-block-button__link:not(.has-background) {
  color: #fff;
  background-color: #9a65a5;
}
.btn.btn-primary:hover,
.btn.btn-primary:active:focus,
.pagination span.current,
.pagination a:hover,
.comments-area .comment-respond .comment-form .form-submit .submit:hover,
.wp-block-button:not(.is-style-outline)
  .wp-block-button__link:not(.has-background):hover {
  background-color: #9560a0;
}
.footer .footer--top {
  color: #c1c7ce;
  background: transparent;
}
.footer .icon-box--title {
  color: #fdffff;
}
.footer .icon-box--icon i,
.footer .icon-box--description,
.footer .social-icons a,
.footer .icon-box:hover .icon-box--icon i,
.footer .social-icons a:hover {
  color: #c1c7ce;
}
.footer--main-container {
  background-image: url(https://demos.qreativethemes.com/physio/wp-content/uploads/sites/3/2020/04/footer_pattern.png);
}
.footer .footer--middle {
  color: #c1c7ce;
  background-color: transparent;
}
.footer .footer--middle .widget_nav_menu ul.menu li > a {
  color: #c1c7ce;
}
.footer .footer--middle .widget_nav_menu ul.menu li > a:hover,
.footer
  .footer--middle
  .widget_nav_menu
  ul.menu
  li.current-menu-item
  > a {
  color: #ffffff;
}
.footer .widget-title {
  color: #ffffff;
}
.footer .footer--bottom {
  color: #909ba2;
  background-color: #555a5f;
}
.footer .footer--bottom a {
  color: #ffffff;
}
.footer .footer--bottom a:hover {
  color: #fafafa;
}
.woocommerce .star-rating span:before,
.woocommerce div.product .star-rating::before,
.woocommerce div.product p.price,
.woocommerce ul.products li.product h3:hover,
.woocommerce-page .woocommerce-error::before,
.woocommerce-page .woocommerce-info::before,
.woocommerce-page .woocommerce-message::before {
  color: #56afd5;
}
.woocommerce a.button,
.woocommerce input.button,
.woocommerce input.button.alt,
.woocommerce button.button,
.woocommerce button.button.alt,
.woocommerce #respond input#submit,
.woocommerce span.onsale,
.woocommerce ul.products li.product .onsale,
.woocommerce nav.woocommerce-pagination ul li span.current,
.woocommerce-page div.product form.cart .button.single_add_to_cart_button,
.woocommerce-cart .wc-proceed-to-checkout a.checkout-button,
.woocommerce .widget_price_filter .ui-slider .ui-slider-handle {
  color: #fff;
  background-color: #9a65a5;
}
.woocommerce a.button:hover,
.woocommerce input.button:hover,
.woocommerce input.button.alt:hover,
.woocommerce button.button:hover,
.woocommerce button.button.alt:hover,
.woocommerce span.onsale:hover,
.woocommerce ul.products li.product .onsale:hover,
.woocommerce-page
  div.product
  form.cart
  .button.single_add_to_cart_button:hover,
.woocommerce-cart .wc-proceed-to-checkout a.checkout-button:hover,
.woocommerce nav.woocommerce-pagination ul li a:hover,
.woocommerce nav.woocommerce-pagination ul li a:focus,
body.woocommerce-page .woocommerce-error a.button:hover,
body.woocommerce-page .woocommerce-info a.button:hover,
body.woocommerce-page .woocommerce-message a.button:hover {
  background-color: #9560a0;
}
.woocommerce ul.products li.product a:hover img {
  outline-color: #56afd5;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li.active,
.woocommerce nav.woocommerce-pagination ul li span.current,
.woocommerce nav.woocommerce-pagination ul li a:focus,
.woocommerce nav.woocommerce-pagination ul li a:hover {
  background: #9a65a5;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li:hover {
  background: #9560a0;
}
.woocommerce div.product form.cart .button.single_add_to_cart_button,
.woocommerce-cart .wc-proceed-to-checkout a.checkout-button {
  color: #fff;
  background: #9a65a5;
}
.woocommerce
  div.product
  form.cart
  .button.single_add_to_cart_button:hover,
.woocommerce-cart .wc-proceed-to-checkout a.checkout-button:hover {
  background: #9560a0;
}
.woocommerce div.product #reviews .comment-reply-title {
  font-family: Nunito;
}
